body {
    background-color: #eac599;
}

.velours{
   width: 100%;
    /* height: 8rem; */
    background-image: url("../img/red_velvet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.menubtn {
  background-color: blue;
  color: aliceblue;
}

.dropdown {
  position:relative;
  display:inline-block;
}

.menuctnt {
  display:none;
  position:absolute;
  background-color:#16161d;

}

 nav {
  background-color: #16161d;
}

.link, .link-hide {
  display: inline-block;
  color: aliceblue;
  text-decoration: none;
}

.link-hide {
  display:block;
}

.dropdown:hover .menuctnt {
  display:block;
}

.search {
    margin: auto;
}
